:root {
    --text-color:#242424;
    --highlight-warm:Coral;
    --highlight-cool:DeepSkyBlue;
}

body {
    background-color: ghostwhite;
    font-family: 'Jura', 'Helvetica', monospace;
    text-align: center;
}

.logo {
    /* font-size: 40px; */
    padding: 0px 0px;
    margin-bottom: 0; /* Remove any bottom spacing */
    /* transform: translateY(4px); */
    margin: 0 0 -4px 0;
}

hr {
    color: black;
    max-width: 1000px;
    margin: 0 auto; /* This removes top/bottom margins and centers it */
}

h1 {
    font-size: 22px;
    color: black;
    padding: 10px 0px;
    max-width: 800px;
    margin: 0 auto;
}

p {
    font-size: 16px;
    color: black;
    padding: 10px 0px;
    max-width: 800px;
    margin: 0 auto;
}

nav {
    color: black;
    padding: 0px 0px;
    max-width: 800px;
    margin: 0 auto;
}

.nav-container {
    font-weight: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    /* padding: 10px 0px; */
    max-width: 800px;
    margin: 0 0;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
    font-size: 18px;
}

.nav-links a {
    text-decoration: none;
    color: var(--highlight-warm);
    position: relative;
    font-weight: 1000;
}

.nav-links a:hover {
    color: var(--highlight-warm);
}

/* Section */
.section {
    padding: 10px 0px;
    max-width: 800px;
    margin: 0 auto;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

/* Trail */
.trail {
    padding: 0px 0px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
}

.trail-path {
    max-width: 1000px;
}

/* Footer */
.footer {
    font-size: 18px;
    padding: 10px 0px;
    max-width: 800px;
    align-items: center;
    margin-top: auto;
    text-align: center;
}

.footer-container {
    padding: 10px 0px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

/* Link Style */

a {
    /* text-decoration-style: dotted; */
    text-decoration: none;
    background-color: transparent;
}

a:link {
    color: var(--text-color);
}

a:visited {
    color: var(--text-color);
}

a:hover {
    font-style: italic;
    color: var(--highlight-warm);
}

/* List Style */

ol {
    font-size: 16px;
    color: black;
    padding: 10px 0px;
    max-width: 400px;
    margin: 0 auto;
    list-style-type: square;
    list-style-position: inside;
}

ul {
    font-size: 16px;
    color: black;
    padding: 10px 0px;
    max-width: 400px;
    margin: 0 0;
    list-style-type: square;
    list-style-position: inside;
}

/* Override the copy button appearance */

.copy-to-clipboard-button {
    background: ghostwhite !important;
    color: black !important;
    border: 1px solid black !important;
    border-radius: 8px !important;
    padding: 4px 8px !important;
    font-size: 16px !important;
}

.copy-to-clipboard-button:hover {
    font-style: italic !important;
}

/* Your border-radius overrides here */

pre[class*="language-"] {
    border-radius: 8px !important;
    overflow: hidden !important;
}
