:root {
    --text-color:#242424;
    --highlight-warm:Coral;
    --highlight-cool:DeepSkyBlue;
}

body {
    background-color: ghostwhite;
    font-family: 'Jura', 'Helvetica', monospace;
}

.logo {
    font-size: 40px;
}

hr {
    max-width: 1000px;
}

h1 {
    font-size: 22px;
    color: black;
    padding: 10px 0px;
    max-width: 800px;
    margin: 0 auto;
}

p {
    font-size: 16px;
    color: black;
    padding: 10px 0px;
    max-width: 800px;
    margin: 0 auto;
}

nav {
    color: black;
}

.nav-container {
    font-weight: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 10px 0px;
    max-width: 800px;
    margin: 0 auto;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
    font-size: 18px;
}

.nav-links a {
    text-decoration: none;
    color: var(--highlight-warm);
    transition: all 0.3s ease;
    position: relative;
    font-weight: 1000;
}

.nav-links a:hover {
    color: var(--highlight-warm);
}

/* Banner Section */
.banner {
    background: var(--gradient);
    align-items: center;
    position: relative;
    overflow: hidden;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

/* Section */
.section {
    padding: 10px 0px;
    max-width: 800px;
    margin: 0 auto;
}

/* Footer */
.footer {
    font-size: 18px;
    padding: 10px 0px;
    max-width: 800px;
    align-items: center;
    margin-top: auto;
    text-align: center;
}

.footer-container {
    padding: 10px 0px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

/* Link Style */

a {
    text-decoration-style: dotted;
    background-color: transparent;
}

a:link {
    color: var(--text-color);
}

a:visited {
    color: var(--text-color);
}

a:hover {
    font-style: italic
}

/* Override the copy button appearance */

.copy-to-clipboard-button {
    background: ghostwhite !important;
    color: black !important;
    border: 1px solid black !important;
    border-radius: 8px !important;
    padding: 4px 8px !important;
    font-size: 16px !important;
}

.copy-to-clipboard-button:hover {
    font-style: italic !important;
}

/* Your border-radius overrides here */

pre[class*="language-"] {
    border-radius: 8px !important;
    overflow: hidden !important;
}
